:root {
  /* Colours */
  --color-bg: #fceb94; /* page background /*

  /* Header */
  --color-head-bg: #ff4b00;

  /* Logotype */
  --color-logotype-bg: #000000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 3rem;

  /* Global menu */
  --color-menu-bg: #6f90eb;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #fff; /* used */
  --color-link-active: #dbe2f5; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  /* --font-sub1-size: 3rem; */
  --font-h2-size: 2.25rem;
  --font-h3-size: 2rem;
  --color-headline-bg: #000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fffae2;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: #fff;
  --color-cta-card-bg: #ff4b00;
  /* news-cards */
  --color-news-bg: #fffae2;
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: #ffa680;
  --color-cta-newscard-bg-inverted: #6f90eb;

  /* Fonts */
  --font-family-sans: "Rubik";
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 2rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #fff;
  --color-infobox-1-bg: #fceb94;
  --color-infobox-2-bg: #def5db;
}

/*  Dark mode   */
html.dark {
  /* baggrund og tekst */
  --color-bg: #222; /* side baggrund mørk */
  --color-text: #e6e6e6; /* generel tekst lys */
  /* kort / cards */
  --color-card-bg: #2b2b2b;
  /* headlines */
  --color-headline-bg: #111;
  --color-headline-text-page: #fff;
  /* news / infobox */
  --color-news-bg: #2a2a30;
  --color-news-bg-inverted: #38383f;
  /* CTA colors (tilpas hvis nødvendigt) */
  --color-cta-card-bg: #ff7b3a; /* prøv en varm orange på mørk baggrund */
  --color-cta-newscard-bg: #4b6ef6;
}
